$monokai-light-text: #cccccc;
$monokai-white: #e8e8e3;
$monokai-white2: #d8d8d3;
$monokai-black: #272822;
$monokai-lightblack: #2d2e27;
$monokai-lightblack2: #383a3e;
$monokai-lightblack3: #3f4145;
$monokai-darkblack: #211f1c;
$monokai-grey: #8f908a;
$monokai-lightgrey: #575b61;
$monokai-darkgrey: #64645e;
$monokai-warmgrey: #75715e;
$monokai-pink: #f92772;
$monokai-green: #a6e22d;
$monokai-aqua: #66d9ef;
$monokai-yellow: #e6db74;
$monokai-orange: #fd9720;
$monokai-purple: #ae81ff;
$monokai-red: #e73c50;
$monokai-purered: #ff0000;
$monokai-darkred: #5f0000;
$monokai-addfg: #d7ffaf;
$monokai-addbg: #5f875f;
$monokai-delbg: #f75f5f;
$monokai-changefg: #d7d7ff;
$monokai-changebg: #5f5f87;
$monokai-cyan: #a1efe4;
$monokai-br_green: #9ec400;
$monokai-br_yellow: #e7c547;
$monokai-br_blue: #7aa6da;
$monokai-br_purple: #b77ee0;
$monokai-br_cyan: #54ced6;
$monokai-br_white: #ffffff;

// Set your brand colors
$primary: $monokai-cyan;
$info: $monokai-pink;
$success: $monokai-green;
$warning: $monokai-orange;
$danger: $monokai-red;
$light: monokai-white;
$dark: $monokai-black;
