.event-item-wrapper {
  border: 2px #ddd dashed;
  position: relative;
  margin: 1rem;
  padding: 25px 10px 10px 10px;
  height: 100%;
  min-height: 100%;
}
.fill-viewable-window {
  height: 100%;
  min-height: 100%;
}
